Question 1- Write a Python program to replace all occurrences of a space, comma, or dot with a colon.
Sample Text- 'Python Exercises, PHP exercises.'
Expected Output: Python:Exercises::PHP:exercises:

In [1]:
import pandas as pd
import re
Text = 'Python Exercises, PHP exercises.'
pattern = "[\s.,]"
result = re.sub(pattern,":",Text) 
print(result)

Python:Exercises::PHP:exercises:

Question 2-  Create a dataframe using the dictionary below and remove everything (commas (,), !, XXXX, ;, etc.) from the columns except words.
Dictionary- {'SUMMARY' : ['hello, world!', 'XXXXX test', '123four, five:; six...']}
Expected output-
0      hello world
1             test
2    four five six

In [2]:
df = pd.DataFrame({'SUMMARY' : ['hello, world!', 'XXXXX test', '123four, five:; six...']})

In [3]:
df

                  SUMMARY
0           hello, world!
1              XXXXX test
2  123four, five:; six...

In [4]:
pattern_2 ="[^a-z\s]"
output = df['SUMMARY'].str.replace(pattern_2,"",regex=True)

In [5]:
output

0      hello world
1             test
2    four five six
Name: SUMMARY, dtype: object

Question 3- Create a function in python to find all words that are at least 4 characters long in a string. The use of the re.compile() method is mandatory.

In [6]:
string = """This form allows you to generate random text strings. 
The randomness comes from atmospheric noise,  1234 which for many purposes is better than 
the pseudo-random number algorithms typically used in computer programs."""
Pattern_3 = "\w{4,}"
Function = re.compile(Pattern_3)
result_3 = Function.findall(string)
print(type(Pattern_3))
print(type(Function))

<class 'str'>
<class 're.Pattern'>

In [7]:
print(result_3)

['This', 'form', 'allows', 'generate', 'random', 'text', 'strings', 'randomness', 'comes', 'from', 'atmospheric', 'noise', '1234', 'which', 'many', 'purposes', 'better', 'than', 'pseudo', 'random', 'number', 'algorithms', 'typically', 'used', 'computer', 'programs']

Question 4- Create a function in python to find all three, four, and five character words in a string. The use of the re.compile() method is mandatory.

In [8]:
string = """This form allows you to generate random text strings. 
The randomness comes from atmospheric noise, which for many purposes is better than 
the pseudo-random number algorithms typically used in computer programs."""
Pattern_4 = r"\w{3,5}"
Function_4 = re.compile(Pattern_4)
result_4 = Function_4.findall(string)
print(type(Function_4))
print(result_4)

<class 're.Pattern'>
['This', 'form', 'allow', 'you', 'gener', 'ate', 'rando', 'text', 'strin', 'The', 'rando', 'mness', 'comes', 'from', 'atmos', 'pheri', 'noise', 'which', 'for', 'many', 'purpo', 'ses', 'bette', 'than', 'the', 'pseud', 'rando', 'numbe', 'algor', 'ithms', 'typic', 'ally', 'used', 'compu', 'ter', 'progr', 'ams']

Question 5- Create a function in Python to remove the parenthesis in a list of strings. The use of the re.compile() method is mandatory.
Sample Text: ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]
Expected Output:
example.com
hr@fliprobo.com
github.com
Hello Data Science World

In [9]:
Sample_Text = ["example(.com)", "hr@fliprobo(.com)", "github(.com)", "Hello (Data Science World)", 
               "Data (Scientist)"]
Pattern_5 = r"\(|\)"
Function_5 = re.compile(Pattern_5)
for sample in Sample_Text:
    result_5 = Function_5.sub("",sample)
    print(result_5)

example.com
hr@fliprobo.com
github.com
Hello Data Science World
Data Scientist

Question 6- Write a python program to remove the parenthesis area from the text stored in the text file using Regular Expression.
Sample Text: ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]
Expected Output: ["example", "hr@fliprobo", "github", "Hello", "Data"]
Note- Store given sample text in the text file and then to remove the parenthesis area from the text.

In [10]:
pattern_6 = r"\(.*\)"
Function_6 = re.compile(pattern_6)

with open("regex.txt") as fp:
    for line in fp:
        result_6 = Function_6.sub("",line)
        print(result_6)

"example"

"hr@fliprobo"

"github"

"Hello "

"Data "

Question 7- Write a regular expression in Python to split a string into uppercase letters.
Sample text: “ImportanceOfRegularExpressionsInPython”
Expected Output: [‘Importance’, ‘Of’, ‘Regular’, ‘Expression’, ‘In’, ‘Python’]

In [11]:
text_7 = "ImportanceOfRegularExpressionsInPython"
pattern_7 = "[A-Z][^A-Z]*"
result_7 =  re.findall(pattern_7,text_7)
print(result_7)

['Importance', 'Of', 'Regular', 'Expressions', 'In', 'Python']

Question 8- Create a function in python to insert spaces between words starting with numbers.
Sample Text: “RegularExpression1IsAn2ImportantTopic3InPython"
Expected Output: RegularExpression 1IsAn 2ImportantTopic 3InPython

In [12]:
text_8 = "RegularExpression1IsAn2ImportantTopic3InPython"
pattern_8 ="(\d+)"
def insert_space(s):
    result_8 = re.sub(pattern_8,r" \1",s)
    print(result_8)
insert_space(text_8)

RegularExpression 1IsAn 2ImportantTopic 3InPython

Question 9- Create a function in python to insert spaces between words starting with capital letters or with numbers.
Sample Text: “RegularExpression1IsAn2ImportantTopic3InPython"
Expected Output:  RegularExpression 1 IsAn 2 ImportantTopic 3 InPython

In [13]:
text_9 = "RegularExpression1IsAn2ImportantTopic3InPython"
pattern_9 ="(\d+)([A-Z])"
def insert_space_9(s):
    result_9 = re.sub(pattern_9,r" \1 \2",s)
    print(result_9)
insert_space_9(text_9)

RegularExpression 1 IsAn 2 ImportantTopic 3 InPython

Question 10- Use the github link below to read the data and create a dataframe. After creating the dataframe extract the first 6 letters of each country and store in the dataframe under a new column called first_five_letters.
Github Link-  https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv

In [71]:
data_10 = pd.read_csv(r'https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv')

In [72]:
data_10

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176
...,...,...,...,...,...,...,...,...,...,...,...,...
153,Rwanda,Sub-Saharan Africa,154,3.465,0.03464,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,0.67042
154,Benin,Sub-Saharan Africa,155,3.340,0.03656,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260,1.63328
155,Syria,Middle East and Northern Africa,156,3.006,0.05015,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179,0.32858
156,Burundi,Sub-Saharan Africa,157,2.905,0.08658,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,1.83302
157,Togo,Sub-Saharan Africa,158,2.839,0.06727,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,1.56726

In [164]:
pattern_10 =  r"(\b\w{6})"
data_10['first_five'] = data_10['Country'].str.extract(pattern_10,expand=True)

In [165]:
data_10.head(15)

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,first_five
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,Switze
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,Icelan
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,Denmar
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,Norway
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,Canada
5,Finland,Western Europe,6,7.406,0.03140,1.29025,1.31826,0.88911,0.64169,0.41372,0.23351,2.61955,Finlan
6,Netherlands,Western Europe,7,7.378,0.02799,1.32944,1.28017,0.89284,0.61576,0.31814,0.47610,2.46570,Nether
7,Sweden,Western Europe,8,7.364,0.03157,1.33171,1.28907,0.91087,0.65980,0.43844,0.36262,2.37119,Sweden
8,New Zealand,Australia and New Zealand,9,7.286,0.03371,1.25018,1.31967,0.90837,0.63938,0.42922,0.47501,2.26425,Zealan
9,Australia,Australia and New Zealand,10,7.284,0.04083,1.33358,1.30923,0.93156,0.65124,0.35637,0.43562,2.26646,Austra
10,Israel,Middle East and Northern Africa,11,7.278,0.03470,1.22857,1.22393,0.91387,0.41319,0.07785,0.33172,3.08854,Israel
11,Costa Rica,Latin America and Caribbean,12,7.226,0.04454,0.95578,1.23788,0.86027,0.63376,0.10583,0.25497,3.17728,NaN
12,Austria,Western Europe,13,7.200,0.03751,1.33723,1.29704,0.89042,0.62433,0.18676,0.33088,2.53320,Austri
13,Mexico,Latin America and Caribbean,14,7.187,0.04176,1.02054,0.91451,0.81444,0.48181,0.21312,0.14074,3.60214,Mexico
14,United States,North America,15,7.119,0.03839,1.39451,1.24711,0.86179,0.54604,0.15890,0.40105,2.51011,United

Question 11- Write a Python program to match a string that contains only upper and lowercase letters, numbers, and underscores.

In [197]:
def match_string(s):
    pattern = re.compile("\W")
    
    match = pattern.findall(s)
    if match:
        print("not matched")
    else:
        print("matched")
string_11 = "sdmbkjscassd9f"

match_string(string_11)

not matched

Question 12- Write a Python program where a string will start with a specific number.

In [201]:
def start_num(i):
    pattern = re.compile("^7")
    match = pattern.match(i)
    if match:
        print("match")
    else:
        print("not matched")
string_12 = "7bscv"
start_num(string_12)

match

Question 13- Write a Python program to remove leading zeros from an IP address

In [229]:
ip_address = "123.045.167.008"
def remove_zero(ip):
    result = re.sub("\.0+",".",ip)
    print(result)
    
remove_zero(ip_address)

123.45.167.8

Question 14- Write a regular expression in python to match a date string in the form of Month name followed by day number and year stored in a text file.Sample text :  ' On August 15th 1947 that India was declared independent from British colonialism, and the reins of control were handed over to the leaders of the Country’.
Expected Output- August 15th 1947

In [258]:
pattern_14 = re.compile("""(January?|February?|March?|April?|May|June?|July?|August?|September?
                        |October?|November?|December?)\s+\d{1,2}(th|rd|nd)?\s+\d{4}""")
with open("que14_regex.txt") as file:
    for line in file:
        result_14 = pattern_14.search(line)
        print(result_14)

<re.Match object; span=(3, 19), match='August 15th 1947'>

Question 15- Write a Python program to search some literals strings in a string. 
Sample text : 'The quick brown fox jumps over the lazy dog.'
Searched words : 'fox', 'dog', 'horse'

In [248]:
Sample_15 = 'The quick brown fox jumps over the lazy dog.'
pattern_15 = re.compile("fox|dog|horse")
result_15 = pattern_15.findall(Sample_15)
print(result_15)

['fox', 'dog']

Question 16- Write a Python program to search a literals string in a string and also find the location within the original string where the pattern occurs
Sample text : 'The quick brown fox jumps over the lazy dog.'
Searched words : 'fox'

In [249]:
Sample_16 = 'The quick brown fox jumps over the lazy dog.'
pattern_16 = re.compile("fox")
result_15 = pattern_15.search(Sample_15)
print(result_15)

<re.Match object; span=(16, 19), match='fox'>

Question 17- Write a Python program to find the substrings within a string.
Sample text : 'Python exercises, PHP exercises, C# exercises'
Pattern : 'exercises'

In [279]:
Sample_17 = 'Python exercises, PHP exercises, C# exercises.'
pattern_17 = re.compile("exercises")
result_17 = pattern_17.findall(Sample_17)
print(result_17)

['exercises', 'exercises', 'exercises']

Question 18- Write a Python program to find the occurrence and position of the substrings within a string.

In [282]:
Sample_18 = 'Python exercises, PHP exercises, C# exercises.'
for i in re.finditer("exercises",Sample_18):
    print(i)

<re.Match object; span=(7, 16), match='exercises'>
<re.Match object; span=(22, 31), match='exercises'>
<re.Match object; span=(36, 45), match='exercises'>

Question 19- Write a Python program to convert a date of yyyy-mm-dd format to dd-mm-yyyy format.

In [291]:
date = "1885-11-05"
pattern_19 = r"(\d{4})-(\d{2})-(\d{2})"
result_19 = re.sub(pattern_19,r"\1-\2-\3",date)
print(result_19)

1885-11-05

Question 20- Create a function in python to find all decimal numbers with a precision of 1 or 2 in a string. The use of the re.compile() method is mandatory.
Sample Text: "01.12 0132.123 2.31875 145.8 3.01 27.25 0.25"
Expected Output: ['01.12', '145.8', '3.01', '27.25', '0.25']

In [295]:
Text_20 = "01.12 0132.123 2.31875 145.8 3.01 27.25 0.25"
pattern_20 = re.compile(r"\d*[.]\d{1,2}\b")
result_20 = pattern_20.findall(Text_20)
print(result_20)

['01.12', '145.8', '3.01', '27.25', '0.25']

Question 21- Write a Python program to separate and print the numbers and their position of a given string.

In [329]:
text_21 = "hdsfjbs438bvcdsfh827hdfsDAC44"
pattern_21 = "\d+"
for num in re.finditer(pattern_21,text_21):
    start = num.start()
    end = num.end()
    print('Found "%s" at %d to %d' % (text_21[start:end], start, end))

Found "438" at 7 to 10
Found "827" at 17 to 20
Found "44" at 27 to 29

Question 22- Write a regular expression in python program to extract maximum/largest numeric value from a string.

In [336]:
text_22='My marks in each semester are: 947, 896, 926, 524, 734, 950, 642'
pattern_22 = "\d+"
numbers = max(re.findall(pattern_22,text_22))
numbers

'950'

Question 23- Create a function in python to insert spaces between words starting with capital letters.
Sample Text: “RegularExpressionIsAnImportantTopicInPython"
Expected Output: Regular Expression Is An Important Topic In Python

In [342]:
text_23 = "RegularExpressionIsAnImportantTopicInPython"
pattern_23 ="([A-Z])"
def insert_spaces(s):
    result_23 = re.sub(pattern_23,r" \1",s)
    print(result_23)
insert_spaces(text_23)

 Regular Expression Is An Important Topic In Python

Question 24- Python regex to find sequences of one upper case letter followed by lower case letters

In [364]:
text_24 = "RegularExpressionIsAnImportantTopicInPython"
pattern_24 =r"([A-Z][a-z]+)"
def find(s):
    result_24 = re.findall(pattern_24,s)
    print(result_24)
find(text_24)

['Regular', 'Expression', 'Is', 'An', 'Important', 'Topic', 'In', 'Python']

Question 25- Write a Python program to remove continuous duplicate words from Sentence using Regular Expression.

In [372]:
Text_25 = "Hello hello world world"
pattern_25 = r"\b(\w+)(?:\W+\1\b)+"
result_25 = re.sub(pattern_25,r'\1',Text_25)
print(result_25)

Hello hello world

Question 26-  Write a python program using RegEx to accept string ending with alphanumeric character

In [379]:
text_26 = "hello world 2024 d^"
pattern_26 = "\w$"
result_26 = re.search(pattern_26,text_26)
if result_26:
    print("accept")
else:
    print("not accepted")

not accepted

Question 27-Write a python program using RegEx to extract the hashtags

In [398]:
Text_27="""RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has 
rendered USELESS <ed><U+00A0><U+00BD><ed><U+00B1><U+0089> "acquired funds" No wo"""
pattern_27 = r"#\w+"
result_27 = re.findall(pattern_27,Text_27)
print(result_27)

['#Doltiwal', '#xyzabc', '#Demonetization']

Question 28- Write a python program using RegEx to remove <U+..> like symbols
Check the below sample text, there are strange symbols something of the sort <U+..> all over the place. You need to come up with a general Regex expression that will cover all such symbols.

In [474]:
Text_28 = """@Jags123456 Bharat band on 28??<ed><U+00A0><U+00BD><ed><U+00B8><U+0082>Those who 
are protesting #demonetization  are all different party leaders"""
pattern_28 = r"<U\+\w+>"
result_28 = re.sub(pattern_28,"",Text_28)
print(result_28)

@Jags123456 Bharat band on 28??<ed><ed>Those who
are protesting #demonetization  are all different party leaders

Question 29- Write a python program to extract dates from the text stored in the text file.

In [480]:
pattern_29 = r"\d{2}-\d{2}-\d{4}"
with open('workfile.txt') as file:
    for line in file:
        result_29 = re.findall(pattern_29,line)
        print(result_29)

['12-09-1992', '15-12-1999']

Question 30- Create a function in python to remove all words from a string of length between 2 and 4.
The use of the re.compile() method is mandatory.

In [509]:
Text_30 = """The following example creates an ArrayList with a capacity of 50 elements.
4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly."""
def remove(text):
    pattern_30 = re.compile(r"\b\w{2,4}+\b")
    result_30 = pattern_30.sub("",Text_30)
    print(result_30)
remove(Text_30)

 following example creates  ArrayList  a capacity   elements.
4 elements   added   ArrayList   ArrayList  trimmed accordingly.