Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location.
You have to scrape the job-title, job-location, company_name, experience_required. You have to
scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.shine.com/
2. Enter “Data Analyst” in “Job title, Skills” field and enter “Bangalore” in “enter the location” field.
3. Then click the searchbutton.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.
Note: All of the above steps have to be done in code. No step is to be done manually.

In [1]:
!pip install selenium

Requirement already satisfied: selenium in ./anaconda3/lib/python3.11/site-packages (4.21.0)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in ./anaconda3/lib/python3.11/site-packages (from selenium) (1.26.16)
Requirement already satisfied: trio~=0.17 in ./anaconda3/lib/python3.11/site-packages (from selenium) (0.25.1)
Requirement already satisfied: trio-websocket~=0.9 in ./anaconda3/lib/python3.11/site-packages (from selenium) (0.11.1)
Requirement already satisfied: certifi>=2021.10.8 in ./anaconda3/lib/python3.11/site-packages (from selenium) (2023.7.22)
Requirement already satisfied: typing_extensions>=4.9.0 in ./anaconda3/lib/python3.11/site-packages (from selenium) (4.11.0)
Requirement already satisfied: attrs>=23.2.0 in ./anaconda3/lib/python3.11/site-packages (from trio~=0.17->selenium) (23.2.0)
Requirement already satisfied: sortedcontainers in ./anaconda3/lib/python3.11/site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in ./anaconda3/lib/python3.11/site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in ./anaconda3/lib/python3.11/site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sniffio>=1.3.0 in ./anaconda3/lib/python3.11/site-packages (from trio~=0.17->selenium) (1.3.1)
Requirement already satisfied: wsproto>=0.14 in ./anaconda3/lib/python3.11/site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in ./anaconda3/lib/python3.11/site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in ./anaconda3/lib/python3.11/site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [1]:
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [4]:
driver = webdriver.Chrome()

In [4]:
driver.get("https://www.shine.com/")

In [5]:
job_title = driver.find_element(By.CLASS_NAME,"form-control")
driver.implicitly_wait(2)
job_title.send_keys("Data Analyst")

In [7]:
location = driver.find_element(By.XPATH,"/html/body/div/div[4]/div/div[2]/div[2]/div[1]/form/div/div[1]/ul/li[2]/div/input")
location.send_keys("Bangalore")

In [8]:
search=driver.find_element(By.CLASS_NAME,"searchForm_btnWrap_advance__VYBHN")
search.click()

In [9]:
Titel = []
job_location = []
company = []
exeperience = []

In [10]:
title_tags = driver.find_elements(By.XPATH,'//strong[@class="jobCard_pReplaceH2__xWmHg"]')
for i in title_tags:
    title=i.text
    Titel.append(title)

In [11]:
Titel

['Data Analyst , Senior Data Analyst , Data Analyst - Tec ...',
 'Lead Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Lead Data Analyst',
 'Data Analyst (Need Immediate Joiner)',
 'Data Analyst (Power BI, Python, SQL)- Internal Audit do ...',
 'Data Analyst',
 'Data Analyst (Need Immediate Joiner)',
 'Clinical Data Analyst',
 'Data Analyst Fresher and Experience Vacancy',
 'Data Analyst Opening',
 'Data Analyst Recruitment',
 'Data Analyst Recruitment',
 'Business Analyst',
 'Data Governance Analyst',
 'Data Governance Analyst',
 'Data Management Analyst',
 'Sas Programmer Analyst',
 'MIS Analyst']

In [12]:
location_tags = driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
for i in location_tags:
    title=i.text
    job_location.append(title)
job_location

['Bangalore\n+8',
 'Bangalore\n+8',
 'Bangalore\n+18',
 'Bangalore',
 'Bangalore\n+7',
 'Bangalore\n+9',
 'Bangalore',
 'Bangalore',
 'Bangalore\n+9',
 'Bangalore\n+6',
 'Bangalore\n+12',
 'Bangalore\n+12',
 'Bangalore\n+12',
 'Bangalore\n+12',
 'Bangalore\n+6',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore\n+8',
 'Bangalore']

In [13]:
company_tags = driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]')
for i in company_tags:
    title=i.text
    company.append(title)
company

['appsoft solutions',
 'mackenzie modern it solutions priva...',
 'neo impex stainless private limited',
 'vision india services private limit...',
 'mackenzie modern it solutions priva...',
 'r.s textile',
 'talent leads hr solutions pvt ltd',
 'valenta bpo solutions pvt. ltd.',
 'r.s textile',
 'techno endura',
 'radhika enterprises',
 'radhika enterprises',
 'radhika enterprises',
 'radhika enterprises',
 'mackenzie modern it solutions priva...',
 'white horse manpower consultancy (p...',
 'live connections placements pvt ltd',
 'live connections placements pvt ltd',
 'techno endura',
 'quess corp (magna infotech)']

In [14]:
exeperience_tag = driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')
for i in exeperience_tag:
    title=i.text
    exeperience.append(title)
exeperience

['0 to 4 Yrs',
 '5 to 9 Yrs',
 '9 to 14 Yrs',
 '2 to 4 Yrs',
 '5 to 9 Yrs',
 '0 to 4 Yrs',
 '3 to 8 Yrs',
 '4 to 5 Yrs',
 '0 to 4 Yrs',
 '0 to 1 Yr',
 '0 to 4 Yrs',
 '0 to 4 Yrs',
 '0 to 4 Yrs',
 '0 to 4 Yrs',
 '4 to 6 Yrs',
 '5 to 8 Yrs',
 '10 to 17 Yrs',
 '10 to 16 Yrs',
 '0 to 2 Yrs',
 '8 to 13 Yrs']

In [15]:
df1 = pd.DataFrame({"job-title":Titel,"job-location":job_location, "company_name":company,"experience_required":exeperience})

In [16]:
df1

,job-title,job-location,company_name,experience_required
0,"Data Analyst , Senior Data Analyst , Data Anal...",Bangalore\n+8,appsoft solutions,0 to 4 Yrs
1,Lead Data Analyst,Bangalore\n+8,mackenzie modern it solutions priva...,5 to 9 Yrs
2,Data Analyst,Bangalore\n+18,neo impex stainless private limited,9 to 14 Yrs
3,Data Analyst,Bangalore,vision india services private limit...,2 to 4 Yrs
4,Lead Data Analyst,Bangalore\n+7,mackenzie modern it solutions priva...,5 to 9 Yrs
5,Data Analyst (Need Immediate Joiner),Bangalore\n+9,r.s textile,0 to 4 Yrs
6,"Data Analyst (Power BI, Python, SQL)- Internal...",Bangalore,talent leads hr solutions pvt ltd,3 to 8 Yrs
7,Data Analyst,Bangalore,valenta bpo solutions pvt. ltd.,4 to 5 Yrs
8,Data Analyst (Need Immediate Joiner),Bangalore\n+9,r.s textile,0 to 4 Yrs
9,Clinical Data Analyst,Bangalore\n+6,techno endura,0 to 1 Yr
10,Data Analyst Fresher and Experience Vacancy,Bangalore\n+12,radhika enterprises,0 to 4 Yrs
11,Data Analyst Opening,Bangalore\n+12,radhika enterprises,0 to 4 Yrs
12,Data Analyst Recruitment,Bangalore\n+12,radhika enterprises,0 to 4 Yrs
13,Data Analyst Recruitment,Bangalore\n+12,radhika enterprises,0 to 4 Yrs
14,Business Analyst,Bangalore\n+6,mackenzie modern it solutions priva...,4 to 6 Yrs
15,Data Governance Analyst,Bangalore,white horse manpower consultancy (p...,5 to 8 Yrs
16,Data Governance Analyst,Bangalore,live connections placements pvt ltd,10 to 17 Yrs
17,Data Management Analyst,Bangalore,live connections placements pvt ltd,10 to 16 Yrs
18,Sas Programmer Analyst,Bangalore\n+8,techno endura,0 to 2 Yrs
19,MIS Analyst,Bangalore,quess corp (magna infotech),8 to 13 Yrs

Q2: Write a python program to scrape data for ““Data Scientist” Job position in “Bangalore” location.
You have to scrape the job-title, job-location, company_name, experience_required. You have to
scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Analyst” in “Job title, Skills” field and enter “Bangalore” in “enter the location” field.
3. Then click the searchbutton.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.
Note: All of the above steps have to be done in code. No step is to be done manually.

In [17]:
driver2 = webdriver.Chrome()

In [19]:
driver2.get(" https://www.naukri.com/")

In [20]:
Position = driver2.find_element(By.XPATH,"/html/body/div[1]/div[7]/div/div/div[1]/div/div/div/div[1]/div/input")
Position.send_keys("Data Scientist")

In [21]:
loc= driver2.find_element(By.XPATH,"/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input")
loc.send_keys("Bangalore")

In [22]:
search=driver2.find_element(By.XPATH,"/html/body/div[1]/div[7]/div/div/div[6]")
search.click()

In [23]:
jobtitle = []
joblocation= []
companyname= []
experiencerequired=[]

In [24]:
title_tags2 = driver2.find_elements(By.XPATH,'//div[@class="cust-job-tuple layout-wrapper lay-2 sjw__tuple "]/div/a')
for i in title_tags2:
    title=i.text
    jobtitle.append(title)

In [25]:
jobtitle

['Data Scientist, Marketing',
 'Data Science Engineer',
 'Data Scientist-Senior Associate - P&T Labs',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist - Senior Associate',
 'SAS Data Scientist',
 'A&A -Sr. Data Scientist - AI POD',
 'Data Scientist (Analytics)',
 'Data Scientist - AI / ML',
 'Lead Data Scientist',
 'Data Scientist',
 'Data Scientist II',
 'Data Science professional',
 'Lead Data Scientist',
 'Data Scientist']

In [26]:
location_tags2 = driver2.find_elements(By.XPATH,'//span[@class="locWdth"]')
for i in location_tags2:
    title=i.text
    joblocation.append(title)

In [27]:
joblocation

['Bangalore/Bengaluru, Kolkata, Mumbai, New Delhi, Hyderabad/Secunderabad, Pune, Chennai',
 'Hybrid - Bangalore Rural, Noida, Pune, Chennai, Mumbai (All Areas)',
 'Mumbai, Hyderabad, Bengaluru',
 'Kolkata, Mumbai, New Delhi, Hyderabad, Pune, Chennai, Bengaluru',
 'Kolkata, Mumbai, New Delhi, Hyderabad, Pune, Chennai, Bengaluru',
 'Hybrid - Bangalore Rural, Pune, Mumbai (All Areas)',
 'Hybrid - Hyderabad, Pune, Bengaluru',
 'Hybrid - Hyderabad, Pune, Bengaluru',
 'Bengaluru',
 'Mumbai, Hyderabad, Bengaluru',
 'Mumbai, Bengaluru, Delhi / NCR',
 'Bengaluru',
 'Bengaluru',
 'Bengaluru',
 'Bengaluru',
 'Bengaluru',
 'Bengaluru',
 'Bengaluru',
 'Bengaluru',
 'Bengaluru']

In [28]:
company_tags2 = driver2.find_elements(By.XPATH,'//div[@class=" row2"]/span/a[1]')
for i in company_tags2:
    title=i.text
    companyname.append(title)

In [29]:
companyname

['Coursera',
 'Futran Tech Solutions',
 'PwC Service Delivery Center',
 'Essenware',
 'Essenware',
 'Ltimindtree',
 'Infosys',
 'Tech Mahindra',
 'Ericsson',
 'PwC Service Delivery Center',
 'Lericon Informatics',
 'Deloitte',
 'Philips',
 'Philips',
 'Baker Hughes',
 'HP India',
 'Honeywell',
 'HP India',
 'HP India',
 'Siemens']

In [30]:
exe_tags2 = driver2.find_elements(By.XPATH,'//span[@class="expwdth"]')
for i in exe_tags2:
    title=i.text
    experiencerequired.append(title)

In [31]:
experiencerequired

['4-6 Yrs',
 '6-9 Yrs',
 '4-6 Yrs',
 '2-5 Yrs',
 '2-5 Yrs',
 '4-9 Yrs',
 '4-8 Yrs',
 '6-10 Yrs',
 '0-3 Yrs',
 '3-8 Yrs',
 '2-6 Yrs',
 '3-7 Yrs',
 '4-8 Yrs',
 '4-8 Yrs',
 '9-14 Yrs',
 '4-8 Yrs',
 '4-6 Yrs',
 '6-11 Yrs',
 '7-11 Yrs',
 '2-3 Yrs']

In [32]:
df2 = pd.DataFrame({'job-title':jobtitle[:10],'job-location':joblocation[:10],'company_name':companyname[:10],'experience_required':experiencerequired[:10]})

In [33]:
df2

,job-title,job-location,company_name,experience_required
0,"Data Scientist, Marketing","Bangalore/Bengaluru, Kolkata, Mumbai, New Delh...",Coursera,4-6 Yrs
1,Data Science Engineer,"Hybrid - Bangalore Rural, Noida, Pune, Chennai...",Futran Tech Solutions,6-9 Yrs
2,Data Scientist-Senior Associate - P&T Labs,"Mumbai, Hyderabad, Bengaluru",PwC Service Delivery Center,4-6 Yrs
3,Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",Essenware,2-5 Yrs
4,Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",Essenware,2-5 Yrs
5,Data Scientist,"Hybrid - Bangalore Rural, Pune, Mumbai (All Ar...",Ltimindtree,4-9 Yrs
6,Data Scientist,"Hybrid - Hyderabad, Pune, Bengaluru",Infosys,4-8 Yrs
7,Data Scientist,"Hybrid - Hyderabad, Pune, Bengaluru",Tech Mahindra,6-10 Yrs
8,Data Scientist,Bengaluru,Ericsson,0-3 Yrs
9,Data Scientist - Senior Associate,"Mumbai, Hyderabad, Bengaluru",PwC Service Delivery Center,3-8 Yrs

Q3: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. ProductDescription
3. Price
                                                                                                                    The attributes which you have to scrape is ticked marked in the below image.
To scrape the data you have to go through following steps:
1. Go to Flipkart webpage by url : https://www.flipkart.com/
2. Enter “sunglasses” in the search fieldwhere “search for products, brands and more” is written and
click the search icon
3. After that you will reach to the page having a lot of sunglasses. From this page you can scrap the
required data as usual.
4. After scraping data from the first page, go to the “Next” Button at the bottom other page , then
click on it.
5. Now scrape data from this page as usual
6. Repeat this until you get data for 100sunglasses. Note: That all of the above steps have to be done
by coding only and not manually.
Note: That all of the above steps have to be done by coding only and not manually.

In [2]:
brand = []
productdiscription = []
price = []

In [3]:
driver3 = webdriver.Chrome()

In [4]:
driver3.get("https://www.flipkart.com/")

In [5]:
product = driver3.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div/div/div/div/div[1]/div/div[1]/div/div[1]/div[1]/header/div[1]/div[2]/form/div/div/input")
product.send_keys("sunglasses")

In [6]:
search3=driver3.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div/div/div/div/div[1]/div/div[1]/div/div[1]/div[1]/header/div[1]/div[2]/form/div/button")
search3.click()

In [7]:
brand_tags = driver3.find_elements(By.XPATH,'//div[@class="syl9yP"]')
for i in brand_tags:
    t=i.text
    brand.append(t)
pro_tags = driver3.find_elements(By.XPATH,'//a[@class="WKTcLC"]')
for i in pro_tags:
    t=i.text
    productdiscription.append(t)
price_tags = driver3.find_elements(By.XPATH,'//div[@class="Nx9bqj"]')
for i in price_tags:
    t=i.text
    price.append(t)

In [9]:
print(len(brand))
print(len(productdiscription))
print(len(price))

40
40
40

In [10]:
if len(brand)<100:
    next_1 = driver3.find_element(By.XPATH,"/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]")
    next_1.click()

In [11]:
brand_tags = driver3.find_elements(By.XPATH,'//div[@class="syl9yP"]')
for i in brand_tags:
    t=i.text
    brand.append(t)
pro_tags = driver3.find_elements(By.XPATH,'//a[@class="WKTcLC"]')
for i in pro_tags:
    t=i.text
    productdiscription.append(t)
price_tags = driver3.find_elements(By.XPATH,'//div[@class="Nx9bqj"]')
for i in price_tags:
    t=i.text
    price.append(t)

In [12]:
print(len(brand))
print(len(productdiscription))
print(len(price))

80
80
80

In [13]:
if len(brand)<100:
    next_1 = driver3.find_element(By.XPATH,"/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]")
    next_1.click()

In [14]:
brand_tags = driver3.find_elements(By.XPATH,'//div[@class="syl9yP"]')
for i in brand_tags:
    t=i.text
    brand.append(t)
pro_tags = driver3.find_elements(By.XPATH,'//a[@class="WKTcLC"]')
for i in pro_tags:
    t=i.text
    productdiscription.append(t)
price_tags = driver3.find_elements(By.XPATH,'//div[@class="Nx9bqj"]')
for i in price_tags:
    t=i.text
    price.append(t)

In [15]:
print(len(brand))
print(len(productdiscription))
print(len(price))

120
120
120

In [17]:
df3 = pd.DataFrame({"brand":brand[:100],"discription":productdiscription[:100],"proce":price[:100]})

In [18]:
df3

            brand                                        discription   proce
0       ROYAL SON  Polarized, UV Protection Wayfarer, Retro Squar...    ₹699
1       ROYAL SON                   Mirrored Aviator Sunglasses (58)    ₹399
2            SRPM             UV Protection Wayfarer Sunglasses (52)    ₹221
3   VINCENT CHASE  by Lenskart UV Protection Wayfarer Sunglasses ...    ₹487
4         ROADWAY  UV Protection Retro Square, Wayfarer, Sports S...    ₹170
..            ...                                                ...     ...
95       elegante   UV Protection Rectangular Sunglasses (Free Size)    ₹263
96           IDEE                     Gradient Round Sunglasses (56)  ₹2,506
97      ROYAL SON  UV Protection Round, Over-sized Sunglasses (Fr...    ₹854
98        Eyenaks   UV Protection Rectangular Sunglasses (Free Size)    ₹364
99  VINCENT CHASE  by Lenskart Polarized, UV Protection Wayfarer ...    ₹499

[100 rows x 3 columns]